.background {
  background-image: url(austin-smart-70350.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

header {
  background: rgb(32, 32, 32, 0.7);
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.fit {
  max-width: 80%;
  max-height: 70%;
}

html {
  scroll-behavior: smooth;
}

.backToTopMargin {
  margin-left: 50px;
  float: left;
  margin-top: 20px;
  line-height: 70px;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: verdana, sans-serif;
  color: white;
}

h1 {
  display: inline;
  text-transform: capitalize;
  font-size: 30px;
  padding-top: 100px;
}

.logo {
 margin-top: 10px;
 margin-left: -50px;
}

.authorPadding {
  padding-right: 50px;
}

footer {
  /*padding-right: 50px;*/
  /*padding-left: 1250px;*/
  bottom: 20px;
  left: 0;
  right: 0;
  background-color: black;
}
.tab {
  padding-left: 100px;
}
body {
  margin-top: 0;
  margin: 0px;
  font-family: "Work Sans", sans-serif;
  background-color: #ffffff;
  font-weight: 300;
}

.text-box {
  margin-left: 44vw;
  margin-top: 42vh;
}

.container {
  width: 80%;
  margin: 0 auto;
}

nav {
  float: right;
  margin-top: -10px;
  opacity: 1;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 100px;
  position: relative;
}

nav a {
  color: #dddddd;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 0px;
}

nav a:hover {
  color: black;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: black;

  position: relative;
  top: 0;
  width: 0;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.changeColor {
  background-color: #775979af;
}


.rectangle {
  width: 50%;
  height: 470px;
  background-color: rgb(255, 0, 0, 0);
  margin: auto;
  z-index: 1;
  opacity: 1;
}

.rectangle .text {
  text-align: justify;
  margin: 38%;
  margin-left: 0%;
  opacity: 1;
  width: 80%;
}

#height {
  height: 200px;
  width: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40%;
}

.pics_in_a_row {
  display: flex;
}



.btn:link,
.btn:visited {
  position: fixed;
  margin-left: 10px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: absolute;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.trippleLineBreak {
  float: right;
  line-height: 70px;
  margin-top: 20px;
}
