.background {
  background-image: url(wood.jpg);
  background-size: 100% 25.4%;
  max-width: 100%;
  height: 600px;
}

.gamingBackground {
  background-image: url(pinkBackground.jpg);
  background-size: 100%;

}

#firstSection {
  background-color: rgb(128, 128, 128, 0.5);
  width: 100%;
  height: 600px;
}

header {
  background: rgb(32, 32, 32, 0.7);
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.fit {
  max-width: 80%;
  max-height: 70%;
}

html {
  scroll-behavior: smooth;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(51, 51, 51, 1);
  opacity: 1;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 17px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: #4caf50;
}

.topnav a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #4caf50;

  position: relative;
  top: 0;
  width: 0;

  transition: all ease-in-out 250ms;
}

.topnav a:hover::before {
  width: 100%;
}
/* Add an active class to highlight the current page */
.active {
  background-color: #4caf50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
  line-break: auto;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
/*@media screen and (max-width: 600px) {*/
  @media screen and (max-width: 800px) {
  .topnav a:not(:last-child),
  .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .background {
    background-size: 100% 23.75%;
  }

  #firstSection {
    height: 537px;
    opacity: 1;
  }
  .center {
    margin: 18px;
  }
  .rectangle {
    background-color: red;
  }

  #games {
    background-color: green;
  }

  #branding {
    position: left;
    top: 35px;
    left: 10px;
  }


}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 800px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

  #games {
    background-color: whitesmoke;
  }

  .rectangle {
    background-color: green;
  }
}

footer {
  margin-top: 20px;
  margin-bottom: 50px;
  color: black;
}

#backToTop {
  float: left;
  margin-left: 50px;
  text-decoration: underline;
  color: black;
}

#author {
  padding-right: 50px;
  float: right;
}
.backToTopMargin {
  margin-left: 50px;
  float: left;
  margin-top: 20px;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.img1{
  flex: 1.3344;
}

.img2{ flex: 1.3344;}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: verdana, sans-serif;
  color: white;
  text-align: center;
}

h1 {
  display: inline;
  text-transform: capitalize;
  font-size: 30px;
  padding-top: 100px;
}

.authorPadding {
  padding-right: 50px;
  float: right;
  margin-top: 20px;
  margin-bottom: 10px;
  color: black;
}

.tab {
  padding-left: 100px;
}

body {
  margin-top: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
  background-color: #ffffff;
  font-weight: 300;
}

.text-box {
  margin-left: 44vw;
  margin-top: 42vh;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.changeColor {
  background-color: #775979af;
}

.rectangle {
  background-color: white;
  display: flex;
  width: 50%;
  height: auto;
  background-color: rgb(255, 0, 0, 0);
  margin: auto;
  z-index: 1;
  opacity: 1;
}

.rectangle .text {
  text-align: justify;
  margin: 25%;
  margin-left: 0%;
  opacity: 1;
  width: 80%;
}

#games {
  width: 80%;
  /*height: 20%;*/
  overflow: hidden;
   /* background-color: green; */
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 28%;
}

.pics_in_a_row {
  display: flex;
}

*, *:before, *:after






/* Animenu
// -------
// https://github.com/catalinred/animenu
// https://twitter.com/catalinred

// Variables

// Latest CSS box model 
*/
*, *:after, *:before {
  box-sizing: border-box; 
}

/* The classic hamburger icon
// <button class="animenu__btn">
//   <span class="animenu__btn__bar"></span>
//   <span class="animenu__btn__bar"></span>
//   <span class="animenu__btn__bar"></span>
// </button>
*/

.animenu__btn {
  display: none;
  cursor: pointer;
  /*background-color: $baseMenuBackground;*/
  border: 0; 
  padding: 10px;
  height: 40px;
  width: 40px;

  &:hover {
    background-color: $secondaryMenuBackground;
  }
}

.animenu__btn__bar {
  display: block;
  width: 20px; height: 2px;
  background-color: #fff;    
  transition: .15s cubic-bezier(0.75, -0.55, 0.25, 1.55);

  &+.animenu__btn__bar {
    margin-top: 4px;
  }  
}

.animenu__btn--active {
  .animenu__btn__bar {
    margin: 0;
    position: absolute;

    &:nth-child(1) {
      transform: rotate(45deg);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      transform: rotate(-45deg);
    }        
  }
}

// Clear some defaults
.animenu {
  display: block;
  ul {
    padding: 0;
    list-style: none;    
    font: 0 -apple-system,
            BlinkMacSystemFont,   
            "Segoe UI",          
            "Roboto",
            "Helvetica Neue", Arial, sans-serif,
            "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";    
  }

  li, a {
    display: inline-block;
    font-size: 15px;
  }

  a {
    color: lighten($baseMenuBackground, 60%);
    text-decoration: none;
  }
}

// First level -> main menu items
// <nav class="animenu">
//    <ul class="animenu__nav">
//    ...
//    </ul>
//  </nav>
.animenu__nav {
  background-color: $baseMenuBackground;        

  > li {
    position: relative;
    border-right: 1px solid lighten($baseMenuBackground, 20%);

    > a {
      padding: $gutter 3 * $gutter;
      text-transform: uppercase; 
    }    

    &:hover {
      > ul {
        opacity: 1;
        visibility: visible;
        margin: 0;        
      }

      > a {
        color: #fff;
      }
    }

    // Duplicate stuff due to 
    // https://www.w3.org/TR/2018/PR-selectors-3-20180911/#grouping
    &:focus-within {
      > ul {
        opacity: 1;
        visibility: visible;
        margin: 0;        
      }
      
      > a {
        color: #fff;
      }
    }    
  }

  &__hasDropdown:before { 
    content:""; 
    position: absolute;
    border: 4px solid transparent;
    border-bottom: 0; 
    border-top-color: currentColor;
    top: 50%;
    margin-top: -2px;
    right: 10px;  
  }   
}

// Second level
// <nav class="animenu">
//    <ul class="animenu__nav">
//      <li>
//        <ul class="animenu__nav__dropdown"></ul>
//      </li>
//    </ul>
//  </nav>
.animenu__nav__dropdown {
  min-width: 100%;
  position: absolute;
  top: 100%; left: 0;
  z-index: 1;   
  opacity: 0;
  visibility: hidden;
  margin: 2 * $gutter 0 0 0;
  background-color: lighten($baseMenuBackground, 15%);    
  transition: margin .15s, opacity .15s;

  > li {
    width: 100%;
    border-bottom: 1px solid lighten($baseMenuBackground, 25%);

    &:first-child > a:after {
      content: '';
      position: absolute;
      height: 0; width: 0;
      left: 1em;
      top: -6px;
      border: 6px solid transparent;
      border-top: 0;
      border-bottom-color: inherit;
    }

    &:last-child {
      border: 0;
    }
  }

  a {
    padding: $gutter;
    width: 100%;
    border-color: lighten($baseMenuBackground, 15%);

    &:hover {
      background-color: $secondaryMenuBackground;
      border-color: $secondaryMenuBackground;
      color: #fff;
    }

    // Duplicate stuff due to 
    // https://www.w3.org/TR/2018/PR-selectors-3-20180911/#grouping  
    &:focus-within {
      background-color: $secondaryMenuBackground;
      border-color: $secondaryMenuBackground;
      color: #fff;
    }    
  }
}

// The main breakpoint is 767px
// Adjust the first and second levels display
@media screen and (max-width: 767px) {
  .animenu__btn {
    display: inline-block;
  }

  .animenu__nav,
  .animenu__nav__dropdown {
    display: none;
  }

  // First level -> main menu items
  // <nav class="animenu">
  //    <ul class="animenu__nav">
  //    ...
  //    </ul>
  //  </nav>    
  .animenu__nav {
    margin: $gutter 0;

    > li {
      width: 100%;
      border-right: 0;
      border-bottom: 1px solid lighten($baseMenuBackground, 25%);

      &:last-child {
        border: 0; 
      }

      &:first-child > a:after {
        content: '';
        position: absolute;
        height: 0; width: 0;
        left: 1em;
        top: -6px;
        border: 6px solid transparent;
        border-top: 0;
        border-bottom-color: inherit;
      }

      > a {
        width: 100%;
        padding: $gutter;
        border-color: $baseMenuBackground;
        position: relative; //dropdown caret
      }
    }

    a:hover {
      background-color: $secondaryMenuBackground;
      border-color: $secondaryMenuBackground;
      color: #fff;      
    }
  }

  // Second level
  // <nav class="animenu">
  //    <ul class="animenu__nav">
  //      <li>
  //        <ul class="animenu__nav__dropdown"></ul>
  //      </li>
  //    </ul>
  //  </nav>              
  .animenu__nav__dropdown {
    position: static;
    background-color: lighten($baseMenuBackground, 15%);
    margin: 0;
    transition: none;
    visibility: visible;
    opacity: 1;     

    > li:first-child > a:after {
      content: none;
    }

    a {
      padding-left: 2 * $gutter;
      width: 100%;
    }           
  }
}

// Expanding the animenu
// <nav class="animenu">
//    <ul class="animenu__nav animenu__nav--active">
//      <li>
//        <ul class="animenu__nav__dropdown"></ul>
//      </li>
//    </ul>
//  </nav>
.animenu__nav--active {
  display: block !important;

  & .animenu__nav__dropdown {
    display: block;
  }
}

