<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
    crossorigin="anonymous">


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="main.js"></script>
    <title>Rubiks cube</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Brygada+1918&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="icon" href="pictures/Rubiks_Cube_Tutorial/17.svg">
  </head>

  <body>
    <link rel="stylesheet" href="./dist/css/main.css">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
<!--Navigation bar-->
<div id="nav-placeholder">

</div>
 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="index.html">iAmWebLuk</a>
    <!--This is the hamburger-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <div class="navbar-toggler-inner"></div>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="index.html#biography">Biography</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.html#sport">Sport</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.html#games">Games</a>
        </li>
          <li class="nav-item">
              <a class="nav-link" href="rubiksCube.html">Rubiks Cube</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="CV.pdf" target="_blank">Get my CV</a>
            </li>
      </ul>
      <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
        <li class="nav-item">
          <a href="https://www.instagram.com/lukas.weber_/"><img src="Instagram_logo.png" width="40" height="40" style="padding-right: 10px;"></a>
          <a href="https://github.com/iamWebLuk"><img src="GitHub-Logo.png" alt="" style="padding-right: 10px;"></a>
        </li>
  
    </div>
    </nav>

<!-------------------------------Navi Bar ends here ------------------------------>

<h2 style="padding-top: 20px; font-family: 'Brygada 1918'">Rubiks Cube</h2>
<h3>! This site is under construction !</h3>

<h3 style="padding: 20px 50px 20px 50px; font-family: 'Brygada 1918'; text-align: justify;">


<h1>Introduction</h1>
<hr>
<h4>In this tutorial I want to work intuitive without notations. The first two layer works pretty well with
  this method, but with the last layer you can't go around.
</h4>
<br>
<h3>Notations</h3><br>

<div class="container">
 
  <div class="row row-cols-5">
    <div class="col">
      <center><img src="pictures/Rubiks_Cube_Tutorial/links.png" alt="">
      <h5>L</h5>
      </center>
    </div>
    <div class="col">
      <center><img src="pictures/Rubiks_Cube_Tutorial/rechts.png" alt="">
        <h5>R</h5>
        </center>
    </div>
    <div class="col">
      <center><img src="pictures/Rubiks_Cube_Tutorial/up.png" alt="">
        <h5>U</h5>
        </center>
    </div>
    <div class="col">
      <center><img src="pictures/Rubiks_Cube_Tutorial/down.png" alt="">
        <h5>D</h5>
        </center>
    </div>
    <div class="col">
      <center><img src="pictures/Rubiks_Cube_Tutorial/front.png" alt="">
        <h5>F</h5>
        </center>
    </div>
    <div class="col-sm">
      <center><img src="pictures/Rubiks_Cube_Tutorial/leftReverse.png" alt="">
        <h5>L'</h5>
        </center>
    </div>
    <div class="col">
      <center><img src="pictures/Rubiks_Cube_Tutorial/rightReverse.png" alt="">
        <h5>R'</h5>
        </center>
        </div>
    <div class="col">
      <center><img src="pictures/Rubiks_Cube_Tutorial/upReverse.png" alt="">
        <h5>U'</h5>
        </center>
    </div>
    <div class="col">
      <center><img src="pictures/Rubiks_Cube_Tutorial/downReverse.png" alt="">
        <h5>D</h5>
        </center>
    </div>
    
    <div class="col">
      <center><img src="pictures/Rubiks_Cube_Tutorial/frontReverse.png" alt="">
        <h5>F'</h5>
        </center>
    </div>
  </div>
</div>
   

This are the only notations you need in this guide. As you might guessed, the letter alone
stands for the direction clockwise and letter with ' is counterclockwise. For example, L is
left clockwise and L' is left counterclockwise. You have to look at it from the from perspective.
   

<section id="cross" style="margin-top: 100px;">
  <h1>Cross</h1>
  <hr>
  <div>
  The first thing to do is the cross. It's pretty easy and straight forward. Start
  with the white side on top. The easiest thing is to put the white piece under the slot
  where it belongs to and then make a simple turn to put it on top. This step can be easily
  solved intuitive and algorithms or certain notations are not neceary.
    </div>
  <br><center>
  <iframe src="cube3.html?config=TextFiles/AnimCube3Cross.txt" frameborder="0" width="190" height="200"></iframe>
  </center>
</section>
<br>

<center>
After that step, the cube should look like this. <br>
<img src="pictures/Rubiks_Cube_Tutorial/1.svg" alt=""></center>

<br><br>
<section id="firstLayer">
  <h1>First Layer</h1>
  <hr>
After you finished the cross on the top, you need to put all the corners in. The simplest way
is to put it under the spot where it belongs to while the white color is facing you, und make a simple
D or D' move so you cannot use the L or R spot without getting the corner in a different position.
In this example the white one is facing towards you. But you can adapt all the moves from it because all the
steps for the other cases are in this algorithm implemented.
<center>
<iframe src="cube3.html?config=TextFiles/FirstLayer.txt" frameborder="0" width="190" height="200"></iframe>
</center>
  <br>
</section>
<br>

<center>
  After that step, the cube should look like this. <br>
  <img src="pictures/Rubiks_Cube_Tutorial/3.svg" alt=""></center>

<br><br>
<section id="secondLayer">
  <h1>Second Layer</h1>
  <hr>
  For this step it is easier when you turn your cube around so that the 
  yellow side is in top and the white on the bottom. To have a better overview.
  What easy at this step is, put the edge on the top so that the color on the
  front will match. Then turn the top layer away from the edge, bring the side up
  and bring the top layer back. Now turn it with L/R' back in the right spot.
  <br>
  <center>
    <iframe src="cube3.html?config=TextFiles/SecondLayer.txt" frameborder="0" width="190" height="200"></iframe>
    </center>
<br>
    The first two layer is more intuitive than notations and algorithm. So it
    is not that hard. Try a little bit for yourself and get comfortable with the 
    cube and how it turns and look whats happening with the other stones.
</section>
<br><br>

<center>
  After that step, the cube should look like this. <br>
  <img src="pictures/Rubiks_Cube_Tutorial/7.svg" alt=""></center>

<br><br>
<section id="yellowCross">
  <h1>Yellow Cross</h1>
  <hr>
  Now all the notations and algorithm comes step by step.
  That step is one of the easiest ones and you only need to know one
  algorithm. There are 4 different states that are important how the
  yellow top could look like. I know there are many more shapes that
  can be on top but these are the ones you are looking for.
  <br>
  <center>
  <img src="pictures/Rubiks_Cube_Tutorial/11.png" alt="yellow_cross" style="margin: 50px 0 50px 0;">
  </center>
  <br>

  Hold the cube so that you can see one of the patterns above.
  If you have only the dot, it doesn't matter how you hold the cube. 
  For the mirrored L shape hold is so that it is '9 o'clock'.
  The straight line should go from left to right and when you have the cross
  just skip this section because you are already done :-)


  <center>
    <iframe src="cube3.html?config=TextFiles/YellowCross.txt" frameborder="0" width="190" height="200"></iframe>
    </center>
<div style="padding: 50px 0 50px 0 ; text-align: center;">
 Always use: F - R - U - R' - U' - F'
<br>
<br>
Dot is step 0 - 6
<br>
Mirrored L is step 7 - 13
<br>
Straight Line is step 14 - 19
</div>
The algorithm for this section is always the same, no matter how your yellow top
is looking like.
</section>
<br>

<center>
  After that step, the cube should look like this. <br>
  <img src="pictures/Rubiks_Cube_Tutorial/12.svg" alt=""></center>

  <br><br>

  <section id="orientCross">
    <h1>Orient Cross</h1>
    <hr>
  
    At this section there you can't solve the cube by intuition anymore.
    You can see that the cross is solved but it doesn't match with
    the colors on the side.
    <br>
    Turn the upper layer around and look what color match with the others.
    Your goal is to find a pair that is either oposite or at 3 o'clock.
    You can only have those 2 states. You can have either solved all four than skip
    this step, or second you have two colors matching with the colors from the first
    two layers.


    <h5 style="margin-top: 30px;">Front and Side is matching</h5>
    <center>
      <iframe src="cube3.html?config=TextFiles/3OClock.txt" frameborder="0" width="190" height="200"></iframe>
      </center>
      Turn the cube so that the matching colors are pointing back and to the right
      Like when the time is 3 o'clock.
      Then do a this simple algorithm:
      <br>
      <center>
R-U-R'-U-R-U2-R'
<br>
and at the end a simple U turn to line them all up.
<br>
</center>
    You dont care how you hold the cube. You can do it from what side you want.
    Now in this example when you turn the cube, it's personal preferance if you
    want so you see that the colors blue and green
    and red and orange are now opposite of each other.
    <br>
    In the next step you can see what to do when the opposite colors are matching.

    <br>
    <center style="margin-top: 30px;">
      After that step, the cube should look like this. <br>
      <img src="pictures/Rubiks_Cube_Tutorial/13.svg" alt=""></center>
<br><br>
  </section>

<section id="orientLastLayer">
  <h1>Orient Edges</h1>
  <hr>

  At this section you can have solved either none, one or all.


  When you have none, it doesn't matter how you hold your cube.

  Your goal is to find one corner that is in it's right spot and turn
  this to the front side on the right.
  <center>
    <iframe src="cube3.html?config=TextFiles/OrientEdge.txt" frameborder="0" width="190" height="200"></iframe>
    </center>
    <center>
Do this algorithm
<br>
U - R - U' - L' - U - R' - U' - L
</center>

Now you see that one of the four edges is on the right spot but not in its
correct place. Turn the cube so, that the right edge is on the front 
right spot.
<div style="margin-top: 30px;">
Do the same algorithm again to line up all the other edges.
</div>
<center>
  <iframe src="cube3.html?config=TextFiles/OrientEdgeAgain.txt" frameborder="0" width="190" height="200"></iframe>
  </center>
  <center>
<br>
U - R - U' - L' - U - R' - U' - L
</center>
<br>
</section>
<br>

<center>
  Now all of the edges are now correct oriented and the cube should look like this. <br>
  <img src="pictures/Rubiks_Cube_Tutorial/16.svg" alt=""></center>


<br><br>
<section>
  <h1>Last Step</h1>
  <hr>
  In this last step you have get every corner in the right place in the right
  position. Hold the cube so that the corner you want to solve is in the front
  to your right. Now to get the corner in the right position do a simple algorithm
  as long as the yellow color is facing upwards:
  <center>
    <br>
    <center>
      <iframe src="cube3.html?config=TextFiles/LastStep.txt" frameborder="0" width="190" height="200"></iframe>
      </center>
    R' - D' - R - D
    <br>
    For now you should not care about the destroyed cube. When this step is done,
    and you did everything correctly the whole cube should be finished. When you
    done the corner, make a U turn to put the next corner in the front right position
    and do the same algorithm as before. You should do this with every corner until
    the cube is solves. At last align the layers correct.
  </center>
</section>
<br>

<center>
  After that step, the cube is finished. <br>
  <img src="pictures/Rubiks_Cube_Tutorial/17.svg" alt=""></center>


<center style="padding:10px">
  Congratulations, your cube is now solved :-)
</center>
<!---------------------------- Footer begins here -------------------------------->

      <footer class="footer">

      <div class="row text-center" style="background-color: #1E2124;">
        <div class="col">
<span style="color:white">Home</span> 
<br>

<div>
  <a href="#top"><i class="bi bi-arrow-up-short" style="color: white; font-size: 40px;"></i></a>
  </div>
          </div>
        <div class="col">
          <span style="font-weight: bold" id="white-text">Sections</span>
            <br>
            <span><a href="index.html#biography" id="white-text">Biography</a></span>
            <br>
            <span><a href="index.html#sport" id="white-text">Sport</a></span>
            <br>
            <span><a href="index.html#gaming" id="white-text">Gaming</a></span>
            <br>
            <span><a href="rubiksCube.html" id="white-text">Rubiks Cube</a></span>
        </div>

        <div class="col">
<span style="color:white; text-decoration:none">Social Media</span> 
<div style="padding:15px 0"> 
          <a href="https://www.instagram.com/lukas.weber_/"><img src="Instagram_logo.png" width="40" height="40" style="padding-right: 10px";></a>  
          <a href="https://www.github.com/iamwebluk"><img src="GitHub-Logo.png" width="30" height="30"></a>
</div>                                          
</div>

</footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

  </body>
</html>